# =========================================================
# HYPNOX BOT — ENVIRONMENT CONFIGURATION
# Node.js + JavaScript | Supabase
# =========================================================
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_DEV_GUILD_ID=

OFFICIAL_GUILD_ID=
STAFF_GUILD_ID=
APPLICATIONS_GUILD_ID=

OFFICIAL_LOGS_CHANNEL_ID=
STAFF_LOGS_CHANNEL_ID=
APPLICATIONS_LOGS_CHANNEL_ID=

# OFFICIAL DISCORD
OFFICIAL_ROLE_MEMBER_ID=
OFFICIAL_ROLE_FOUNDER_ID=
OFFICIAL_ROLE_DIRECTOR_ID=
OFFICIAL_ROLE_ADMINISTRATOR_ID=
OFFICIAL_ROLE_SRMOD_ID=
OFFICIAL_ROLE_MOD_ID=
OFFICIAL_ROLE_TMOD_ID=
OFFICIAL_ROLE_HELPER_ID=
OFFICIAL_CHANNEL_TICKETS_ID=
OFFICIAL_CHANNEL_TICKETS_CATEGORY_ID=
OFFICIAL_CHANNEL_ANNOUNCEMENTS_ID=
OFFICIAL_CHANNEL_APPLICATIONS_ID=
OFFICIAL_IMAGE_BANNER=
OFFICIAL_IMAGE_TICKETS=
OFFICIAL_IMAGE_ANNOUNCEMENT=

# STAFF TEAM DISCORD
STAFF_ROLE_FOUNDER_ID=
STAFF_ROLE_DIRECTOR_ID=
STAFF_ROLE_ADMINISTRATOR_ID=
STAFF_ROLE_ADMINISTRATIVE_ASSISTANT_ID=
STAFF_ROLE_SRMOD_ID=
STAFF_ROLE_MOD_ID=
STAFF_ROLE_TMOD_ID=
STAFF_ROLE_HELPER_ID=
STAFF_ROLE_PROJECT_MANAGER_ID=
STAFF_ROLE_DEPARTMENT_LEAD_ID=
STAFF_ROLE_PRODUCER_ID=
STAFF_ROLE_DEVELOPER_ID=
STAFF_ROLE_EDITOR_ID=
STAFF_ROLE_BUILDER_ID=
STAFF_ROLE_CONTENT_CREATOR_ID=
STAFF_ROLE_TRAINEE_ID=
STAFF_CHANNEL_INTERNAL_RULES_ID=
STAFF_IMAGE_BANNER=
STAFF_IMAGE_ANNOUNCEMENT=

# STAFF APPLICATIONS DISCORD
APPLICATIONS_ROLE_FOUNDER_ID=
APPLICATIONS_ROLE_DIRECTOR_ID=
APPLICATIONS_ROLE_ADMINISTRATOR_ID=
APPLICATIONS_ROLE_APPLICATION_MANAGER_ID=
APPLICATIONS_ROLE_APPLICATION_REVIEWER_ID=
APPLICATIONS_ROLE_APPLICANT_ID=
APPLICATIONS_CHANNEL_REQUIREMENTS_ID=
APPLICATIONS_CHANNEL_INFORMATION_ID=
APPLICATIONS_CHANNEL_APPLY_ID=
APPLICATIONS_CHANNEL_RESULTS_ID=
APPLICATIONS_CHANNEL_STATUS_ID=
APPLICATIONS_IMAGE_BANNER=
APPLICATIONS_IMAGE_RESULTS=

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NODE_ENV=production
BOT_COLOR=000000
BOT_TIMEZONE=America/Santiago
OFFICIAL_DISCORD_URL=
WEBSITE_URL=
YOUTUBE_URL=
TIKTOK_URL=
INSTAGRAM_URL=
DEBUG=false
